<!-- extends base layout -->
{% extends "base.html" %}

{% block header %}
<link href="{{ url_for('.static', filename = 'css/ingredlist.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-12">
		<ul class="alpha-list" id="list">
		</ul>
	</div>
	<div class="col-md-12" id="ingredients">
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");
		$.each(alphabet, function(index, value) {
			$('#list').append('<li><button class="alpha btn btn-sm btn-default" id="' + value + '">' + value + '</button></li>');
		});
		
		$('.alpha').click(function() {
			$('#ingredients').empty();
			listFunction(this.id);
		});
	});
	
	function listFunction(letter) {
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "{{ url_for('return_ingredient_list') }}",
			data: JSON.stringify({"value": letter}),
			dataType: "json",
			success: listIngredients
		});
	};

	function listIngredients(data) {
		var length = data[0];
		for (var i = 1; i < length + 1; i++) {
			$('#ingredients').append("<p>" + data[i] + "</p>");
		}
	};
</script>
{% endblock %}