<!-- extends base layout -->
{% extends "base.html" %}

{% block header %}
<link href="{{ url_for('.static', filename = 'css/recipe.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row top-30">
		<div class="col-sm-2">
			<div class="list-group">
				<a href="{{url_for('add_recipe')}}" class="list-group-item">Add Recipe</a>
				<a href="{{url_for('add_ingredient')}}" class="list-group-item">Add Ingredient</a>
				<a href="{{url_for('recipe_list')}}" class="list-group-item">Recipe List</a>
				<a href="{{url_for('ingredient_list')}}" class="list-group-item">Ingredient List</a>
			</div>
		</div>
		<div class="col-md-8">
			<h2>List recipe of the day here</h2>
		</div>
	</div>
</div>
{% endblock %}