<!-- extends base layout -->
{% extends "base.html" %}

{% block header %}
<link href="{{ url_for('.static', filename = 'css/weekly.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container top-buffer"></div>
<div class="container cont-height">
	<div class=" container cont-nb">
		<p></p>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Monday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Tuesday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Wednesday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Thursday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Friday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Saturday</strong>
	</div>
	<div class=" container cont-ins cont-top">
		<strong>Sunday</strong>
	</div>
</div>
<div class="container cont-height">
	<div class=" container cont-ins cont-title">
		<strong>Breakfast</strong>
	</div>
	<div class=" container cont-ins" id="bmon">
		<p></p>
	</div>
	<div class=" container cont-ins" id="btues">
		<p></p>
	</div>
	<div class=" container cont-ins" id="bwed">
		<p></p>
	</div>
	<div class=" container cont-ins" id="bthurs">
		<p></p>
	</div>
	<div class=" container cont-ins" id="bfri">
		<p></p>
	</div>
	<div class=" container cont-ins" id="bsat">
		<p></p>
	</div>
	<div class=" container cont-ins" id="bsun">
		<p></p>
	</div>
</div>
<div class="container cont-height">
	<div class=" container cont-ins cont-title">
		<strong>Snack</strong>
	</div>
	<div class=" container cont-ins" id="s1mon">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1tues">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1wed">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1thurs">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1fri">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1sat">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s1sun">
		<p></p>
	</div>
</div>
<div class="container cont-height">
	<div class=" container cont-ins cont-title">
		<strong>Lunch</strong>
	</div>
	<div class=" container cont-ins" id="lmon">
		<p></p>
	</div>
	<div class=" container cont-ins" id="ltues">
		<p></p>
	</div>
	<div class=" container cont-ins" id="lwed">
		<p></p>
	</div>
	<div class=" container cont-ins" id="lthurs">
		<p></p>
	</div>
	<div class=" container cont-ins" id="lfri">
		<p></p>
	</div>
	<div class=" container cont-ins"  id="lsat">
		<p></p>
	</div>
	<div class=" container cont-ins"  id="lsun">
		<p></p>
	</div>
</div>
<div class="container cont-height">
	<div class=" container cont-ins cont-title">
		<strong>Snack</strong>
	</div>
	<div class=" container cont-ins" id="s2mon">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2tues">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2wed">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2thurs">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2fri">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2sat">
		<p></p>
	</div>
	<div class=" container cont-ins" id="s2sun">
		<p></p>
	</div>
</div>
<div class="container cont-height">
	<div class=" container cont-ins cont-title">
		<strong>Dinner</strong>
	</div>
	<div class=" container cont-ins" id="dmon">
		<p></p>
	</div>
	<div class=" container cont-ins" id="dtues">
		<p></p>
	</div>
	<div class=" container cont-ins" id="dwed">
		<p></p>
	</div>
	<div class=" container cont-ins"  id="dthurs">
		<p></p>
	</div>
	<div class=" container cont-ins"  id="dfri">
		<p></p>
	</div>
	<div class=" container cont-ins" id="dsat">
		<p></p>
	</div>
	<div class=" container cont-ins" id="dsun">
		<p></p>
	</div>
</div>
{% endblock %}